.footer{
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 2.5rem; 
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05); 
}
.copyrightText{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
}