
.headerNavigation{
    display: flex;
    justify-content: space-between;
    height: 3rem; 
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1); 
    align-items: center; 
    padding: 10px 20px;    
      
    .headerLink{
        font-size: large;
        font-weight: bold; 
        text-decoration: none;
        padding: 0.5rem; 
        display: flex;
        align-items: center; 

    }

    .CartLogin {
        display: flex; 
    }

    .cartNum{
        width: 40px;
        height: 40px;  
        border-radius: 9999px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: yellow; 
    }
} 